defrib_3V/IC/check_duplicate.ipynb
defrib_3V/IC/fcolor_1.csv
defrib_3V/IC/fcolor_10.csv
defrib_3V/IC/fcolor_100.csv
defrib_3V/IC/fcolor_101.csv
defrib_3V/IC/fcolor_102.csv
defrib_3V/IC/fcolor_103.csv
defrib_3V/IC/fcolor_104.csv
defrib_3V/IC/fcolor_105.csv
defrib_3V/IC/fcolor_106.csv
defrib_3V/IC/fcolor_107.csv
defrib_3V/IC/fcolor_108.csv
defrib_3V/IC/fcolor_109.csv
defrib_3V/IC/fcolor_11.csv
defrib_3V/IC/fcolor_110.csv
defrib_3V/IC/fcolor_111.csv
defrib_3V/IC/fcolor_112.csv
defrib_3V/IC/fcolor_113.csv
defrib_3V/IC/fcolor_114.csv
defrib_3V/IC/fcolor_115.csv
defrib_3V/IC/fcolor_116.csv
defrib_3V/IC/fcolor_117.csv
defrib_3V/IC/fcolor_118.csv
defrib_3V/IC/fcolor_119.csv
defrib_3V/IC/fcolor_12.csv
defrib_3V/IC/fcolor_120.csv
defrib_3V/IC/fcolor_121.csv
defrib_3V/IC/fcolor_122.csv
defrib_3V/IC/fcolor_123.csv
defrib_3V/IC/fcolor_124.csv
defrib_3V/IC/fcolor_125.csv
defrib_3V/IC/fcolor_126.csv
defrib_3V/IC/fcolor_127.csv
defrib_3V/IC/fcolor_128.csv
defrib_3V/IC/fcolor_129.csv
defrib_3V/IC/fcolor_13.csv
defrib_3V/IC/fcolor_130.csv
defrib_3V/IC/fcolor_131.csv
defrib_3V/IC/fcolor_132.csv
defrib_3V/IC/fcolor_133.csv
defrib_3V/IC/fcolor_134.csv
defrib_3V/IC/fcolor_135.csv
defrib_3V/IC/fcolor_14.csv
defrib_3V/IC/fcolor_15.csv
defrib_3V/IC/fcolor_16.csv
defrib_3V/IC/fcolor_17.csv
defrib_3V/IC/fcolor_18.csv
defrib_3V/IC/fcolor_19.csv
defrib_3V/IC/fcolor_2.csv
defrib_3V/IC/fcolor_20.csv
defrib_3V/IC/fcolor_21.csv
defrib_3V/IC/fcolor_22.csv
defrib_3V/IC/fcolor_23.csv
defrib_3V/IC/fcolor_24.csv
defrib_3V/IC/fcolor_25.csv
defrib_3V/IC/fcolor_26.csv
defrib_3V/IC/fcolor_27.csv
defrib_3V/IC/fcolor_28.csv
defrib_3V/IC/fcolor_29.csv
defrib_3V/IC/fcolor_3.csv
defrib_3V/IC/fcolor_30.csv
defrib_3V/IC/fcolor_31.csv
defrib_3V/IC/fcolor_32.csv
defrib_3V/IC/fcolor_33.csv
defrib_3V/IC/fcolor_34.csv
defrib_3V/IC/fcolor_35.csv
defrib_3V/IC/fcolor_36.csv
defrib_3V/IC/fcolor_37.csv
defrib_3V/IC/fcolor_38.csv
defrib_3V/IC/fcolor_39.csv
defrib_3V/IC/fcolor_4.csv
defrib_3V/IC/fcolor_40.csv
defrib_3V/IC/fcolor_41.csv
defrib_3V/IC/fcolor_42.csv
defrib_3V/IC/fcolor_43.csv
defrib_3V/IC/fcolor_44.csv
defrib_3V/IC/fcolor_45.csv
defrib_3V/IC/fcolor_46.csv
defrib_3V/IC/fcolor_47.csv
defrib_3V/IC/fcolor_48.csv
defrib_3V/IC/fcolor_49.csv
defrib_3V/IC/fcolor_5.csv
defrib_3V/IC/fcolor_50.csv
defrib_3V/IC/fcolor_51.csv
defrib_3V/IC/fcolor_52.csv
defrib_3V/IC/fcolor_53.csv
defrib_3V/IC/fcolor_54.csv
defrib_3V/IC/fcolor_55.csv
defrib_3V/IC/fcolor_56.csv
defrib_3V/IC/fcolor_57.csv
defrib_3V/IC/fcolor_58.csv
defrib_3V/IC/fcolor_59.csv
defrib_3V/IC/fcolor_6.csv
defrib_3V/IC/fcolor_60.csv
defrib_3V/IC/fcolor_61.csv
defrib_3V/IC/fcolor_62.csv
defrib_3V/IC/fcolor_63.csv
defrib_3V/IC/fcolor_64.csv
defrib_3V/IC/fcolor_65.csv
defrib_3V/IC/fcolor_66.csv
defrib_3V/IC/fcolor_67.csv
defrib_3V/IC/fcolor_68.csv
defrib_3V/IC/fcolor_69.csv
defrib_3V/IC/fcolor_7.csv
defrib_3V/IC/fcolor_70.csv
defrib_3V/IC/fcolor_71.csv
defrib_3V/IC/fcolor_72.csv
defrib_3V/IC/fcolor_73.csv
defrib_3V/IC/fcolor_74.csv
defrib_3V/IC/fcolor_75.csv
defrib_3V/IC/fcolor_76.csv
defrib_3V/IC/fcolor_77.csv
defrib_3V/IC/fcolor_78.csv
defrib_3V/IC/fcolor_79.csv
defrib_3V/IC/fcolor_8.csv
defrib_3V/IC/fcolor_80.csv
defrib_3V/IC/fcolor_81.csv
defrib_3V/IC/fcolor_82.csv
defrib_3V/IC/fcolor_83.csv
defrib_3V/IC/fcolor_84.csv
defrib_3V/IC/fcolor_85.csv
defrib_3V/IC/fcolor_86.csv
defrib_3V/IC/fcolor_87.csv
defrib_3V/IC/fcolor_88.csv
defrib_3V/IC/fcolor_89.csv
defrib_3V/IC/fcolor_9.csv
defrib_3V/IC/fcolor_90.csv
defrib_3V/IC/fcolor_91.csv
defrib_3V/IC/fcolor_92.csv
defrib_3V/IC/fcolor_93.csv
defrib_3V/IC/fcolor_94.csv
defrib_3V/IC/fcolor_95.csv
defrib_3V/IC/fcolor_96.csv
defrib_3V/IC/fcolor_97.csv
defrib_3V/IC/fcolor_98.csv
defrib_3V/IC/fcolor_99.csv
